<footer>
    <div class="social-links">
      <a href="https://github.com/kjpaul/orbitalring">GitHub</a>
      <a href="https://www.patreon.com/kjpaul/">Patreon</a>
      <a href="https://www.amazon.com/stores/Paul-G.-de-Jong/author/B0FWZ55SKP">Amazon</a>
      <a href="https://www.instagram.com/paul_g_de_jong/">Instagram</a>
      <a href="https://www.linkedin.com/in/paul-g-de-jong/">LinkedIn</a>
      <a href="https://www.facebook.com/orbitalring.space">Facebook</a>
      <a href="https://www.tiktok.com/@orbitalring">TikTok</a>
    </div>
    <p>&copy; 2026 Paul de Jong. All rights reserved.</p>
  </footer>